h1 {
  text-align: center !important;
  color: #5A2A38 !important;
  font-family: 'Century Gothic', sans-serif !important;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.2); 
}

h3 {
  text-align: center !important;
  color: #5A2A38 !important;
  font-family: 'Century Gothic', sans-serif !important;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}
