a:link {
color: #FFFFFF !important;
}

a:visited {
color: #FFFFFF !important;
}

a:hover {
color: #E0E0E0 !important;
}

.topbar a:link {
color: #FFFFFF !important;
transition: 0.5s !important;
}

.topbar a:visited {
color: #FFFFFF !important;
}

.topbar a:hover {
color: #E0E0E0 !important;
}
