.top {
  background: #0F2F42 !important;
  color: #5A2A38 !important;
  border: 1px solid #91AFC2 !important;
  text-align: center !important;
  font-family: 'Century Gothic', sans-serif !important;
}

th {
  background: #0F2F42 !important;
  color: #5A2A38 !important;
  border: 1px solid #91AFC2 !important;
  text-align: center !important;
  font-family: 'Century Gothic', sans-serif !important;
}

.bottom {
  background: #0F2F42 !important;
  color: #5A2A38 !important;
  border: 1px solid #91AFC2 !important;
  text-align: center !important;
  font-family: 'Century Gothic', sans-serif !important;
}

.left {
  background: #0F2F42 !important;
  color: #5A2A38 !important;
  border: 1px solid #91AFC2 !important;
  text-align: center !important;
  font-family: 'Century Gothic', sans-serif !important;
}

td {
  background: #091B26 !important;
  color: #5A2A38 !important;
  border: none !important;
  font-family: 'Century Gothic', sans-serif !important;
}

.right_cub {
  background: #0F2F42 !important;
}
