.top, th, .bottom, .left, .right_cub {
  background: rgba(236, 193, 187, 0.8) !important; 
  color: #5A2A38 !important; 
  border: 1px solid #91AFC2 !important;
  text-align: center !important;
  font-family: 'Century Gothic', sans-serif !important;
}

td {
  background: rgba(208, 167, 160, 0.8) !important; 
  color: #5A2A38 !important;
  border: none !important;
  font-family: 'Century Gothic', sans-serif !important;
}
