.top, th, .bottom, .left, .right_cub {
  background: rgba(236, 193, 187, 0.8) !important; 
  color: #5A2A38 !important; 
  border: none !important;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5) !important;
  text-align: center !important;
  font-family: 'Century Gothic', sans-serif !important;
}

td {
  background: rgba(215, 158, 171, 0.8) !important; 
  color: #5A2A38 !important;
  border: none !important;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.4) inset !important;
  text-align: center !important;
  font-family: 'Century Gothic', sans-serif !important;
}
