/* Even Numbered Messages */

.s-chat-message:nth-child(even){
background: rgba(249,217,223, 1) !important;
color: rgba(183,109,132, 1) !important;
border: none !important;
}

/* Odd Numbered Messages */

.s-chat-message:nth-child(odd){
background: rgba(241,191,201, 1) !important;
color: rgba(183,109,132, 1) !important;
border: none !important;
}

/* Pinned Message */

.s-chat-message__pinned{
background: rgba(225,170,185, 1) !important;
color: rgba(130,70,90, 1) !important;
border: none !important;
}

/* Timestamps */

.s-chat-message_timestamp {
color: rgba(183,109,132,1) !important;
}

#chatMessageContainer {
border: none !important;
}

/* Channel Button */

button#label_currentChannel {
background: rgba(241,191,201, 1) !important;
color: rgba(130,70,90, 1) !important;
border: none !important;
}
